.navbar {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.menu p {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.menu span {
    font-size: 20px;
    width: 16px;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1b61c9;
    overflow: hidden;
}

.register p {
    font-weight: bold;
}

.register span {
    position: relative;
    top: -11px;
    font-size: 25px;
    margin-left: 5px;
    height: 20px;
}