.navbar {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.menu p {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.menu span {
    font-size: 20px;
    width: 16px;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0768f8;
    overflow: hidden;
    cursor: pointer;
}

.register:hover {
    color: #0b56c7;
}

.register p {
    font-weight: bold;
}

.register span {
    position: relative;
    top: -11px;
    font-size: 25px;
    margin-left: 5px;
    height: 20px;
}

.signupFree {
    color: white;
    background-color: #0768f8;
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 10px;
}

.signupFree:hover {
    background-color: #0b56c7;
}

.new {
    color: white;
    background-color: hsl(272deg 73% 40%);
    font-size: 20px;
    padding: 0px 5px;
    border-radius: 50px;
}

.videos video {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
}

.images img {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
}

.contactSpan span {
    color: #2d7ff9;
}

.contactSpan span:hover {
    color: #0a67f1;
    cursor: pointer;
}


.signupFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgb(74, 3, 166);
    background: linear-gradient(281deg, rgba(74, 3, 166, 1) 16%, rgba(0, 86, 255, 1) 100%);
}